<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ggec.voice.assistservice">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />



    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:theme="@style/AppTheme">

        <service
            android:name=".AssistService"
            android:enabled="true"
            android:exported="false"
            android:singleUser="true" />

        <service
            android:name=".BgProcessIntentService"
            android:exported="false" />

        <service
            android:name=".sub.MyBootIntentService"
            android:exported="false" />

        <receiver android:name=".receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".sub.VolumeChangeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>

        <receiver android:name=".sub.CommonBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!--FIXME 7.0开始不发这个广播了-->
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.willblaschko.android.alexa.datepersisted.MultiprocessSharedPreferences"
            android:authorities="${applicationId}.provider.MultiprocessSharedPreferences"
            android:exported="false"
            />

        <!--<activity android:name=".UITestActivity">-->

        <!--</activity>-->


        <activity
            android:name="com.amazon.identity.auth.device.workflow.WorkflowActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:scheme="amzn" />
            </intent-filter>
        </activity>

        <!-- required so we can get back the result of our authentication //-->
        <!--<activity-->
        <!--android:name="com.amazon.identity.auth.device.authorization.AuthorizationActivity"-->
        <!--android:allowTaskReparenting="true"-->
        <!--android:launchMode="singleTask"-->
        <!--android:theme="@android:style/Theme.NoDisplay" >-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="android.intent.category.BROWSABLE" />-->

        <!--&lt;!&ndash; host should be our application package //&ndash;&gt;-->
        <!--<data android:host="${applicationId}" android:scheme="amzn" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".login.quicklogin.SampleLoginWithAmazonActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"> <!-- Prevents authorization dialog from closing when screen orientation is changed -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginWebViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.amazon.com"
                    android:pathPattern="/ap/oa"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>